*{
    margin: 0px;
    box-sizing: border-box;
}
.logodiv{
    background-color:rgba(20, 179, 20, 0.895) ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
   
   
}
.logodiv span{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;

}
.logodiv .p1{
    align-items: center;
    color:rgba(20, 179, 20, 0.895) ;
    position: relative;
    top: 6px;
    left: 10px;
}
.logodiv .p2{
    align-items: center;
    
    position: relative;
    top: -5px;
    left: 50px;
    font-weight: bold;
    color: orangered;
}